@model ReliefConnect.Models.Profile
@{
    ViewData["Title"] = "Profile Details";
}
<h2>Profile Details</h2>
<dl class="row">
    <dt class="col-sm-3">Full Name</dt>
    <dd class="col-sm-9">@Model.FullName</dd>
    <dt class="col-sm-3">Email</dt>
    <dd class="col-sm-9">@Model.Email</dd>
    <dt class="col-sm-3">Phone</dt>
    <dd class="col-sm-9">@Model.Phone</dd>
    <dt class="col-sm-3">Role</dt>
    <dd class="col-sm-9">@Model.Role</dd>
    <dt class="col-sm-3">Created</dt>
    <dd class="col-sm-9">@Model.CreatedAt</dd>
</dl>
<a asp-action="Index" class="btn btn-secondary">Back</a>
